{#
 # This file is part of the Sensi Yaml GUI Bundle.
 #
 # (c) Michael Ofner <michael@m3byte.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
#}
<!DOCTYPE html>
<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Sensi YAML GUI{% endblock %}
		</title>
	</head>
	<body>
	
		{% block header %}
		
		{% endblock %}
	
		{% block notice %}
	
		{% endblock %}
	
		{% block content %}
		
		{% endblock %}
	
	</body>
</html>